---
interface Post {
  data: {
    title: string
    slug: string
    date: string
    description: string
  }
}

interface Props {
  posts: Post[]
  limit?: number
}

const { posts, limit } = Astro.props
const displayPosts = limit ? posts.slice(0, limit) : posts
---

<div class="flex flex-col">
  {
    displayPosts.map((post) => (
      <div>
        <div class="border-[#2a2a2a] border-t" />
        <a href={`/blog/${post.data.slug}`} class="flex w-full justify-between py-2">
          <p>{post.data.title}</p>
          <p class="mt-0 text-muted-foreground text-xs">{post.data.date}</p>
        </a>
      </div>
    ))
  }
</div>
